# FoundryVTT
foundry.js
foundry-data/

# Node
node_modules/
package-lock.json

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Dist
dist/
module.zip

# User local reference exports
fvtt-JournalEntry-*.json
